# Archivos de configuración de Unity
/[Uu]serSettings/

# Archivos de la librería
[Ll]ibrary/

# Archivos temporales generados por Unity
[Tt]emp/
[Tt]empCache/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de builds
/[Bb]uild/
[Bb]uilds/

# Archivos de logs
/[Ll]ogs/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de paquetes de Unity
Packages/*
!Packages/manifest.json

# Archivos generados por Unity
/[C]ache/

# Archivos específicos de entornos de desarrollo
.vs/
.vsconfig